.timer-container {
  height: 5%;
  width: 100%;
  border-left: solid 0.1px #cccccc;
  border-right: solid 0.1px #cccccc;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
}

.timer {
  font-size: 2vw
}