.timer-container {
  height: 5%;
  width: 100%;
  border-left: solid 0.1px #cccccc;
  border-right: solid 0.1px #cccccc;
  border-bottom: solid 0.1px #CCCCCC;
  background-color: #f0f0f0;
  display: flex;
}

.timer {
  font-size: 3vh;
  align-self: center;
  text-align: center;
  border-right: solid 0.1px #CCCCCC;
  width: 50%
}