.move {
  height: 30%;
  width: 30%;

  top: 35%;
  left: 35%;
}

.check,
.checkmate,
.stalemate {
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
}

.indicator {
  opacity: 0.6;
  position: absolute;
}
