.history-moves-container {
  width: 100%;
  border: solid 0.1px #CCCCCC;
  flex-grow: 1;
}

table {
  border-collapse: collapse;
}

.num-cell {
  color: #D1D1D1;
  background-color: #F8F8F8;
  border-left: solid 0.1px #CCCCCC;
}

.move-cell {
  color: #747475;
  border-left: solid 0.1px #DDDDDD;
}

.selected-state {
  background-color: #D7E9FA;
}

.move-cell:hover {
  background-color: #3893E8;
  color: white
}

.header-row {
  height: 30px;
  border: solid 0.1px #CCCCCC;
  background-color: #EAEAEA;
  color: #7F7F7F;
}

td, th {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.table-row {
  height: 30px;
}

.history-table {
  width: 100%;
}

