body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  position: relative;
}

.move {
  height: 30%;
  width: 30%;
  
  top: 35%;
  left: 35%;
}

.check {
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 2.5%;
}

.indicator {
  opacity: 0.6;
  position: absolute;
}

.piece {
  height: 80%;
  width: 80%;

  top: 10%;
  left: 10%;
  position: absolute;
}

.coordinate {
  background: #fff;
  background-color: transparent;
  border: 0px;
  /* font-size: 24px; */
  /* font-weight: bold; */
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.vertical {
  height: 48px;
  margin-top: 0px;
}

.horizontal {
  width: 52px;
  margin-left: 0px;
}

.white {
    background: #EEEED2;
}

.black {
    background: #769656;
}

.green {
  background: #9bf442;
}

.orange {
  background: #f4bc42;
}

.red {
  background: #ef0909;
}

.blue {
  background: #639af2;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.queen_query {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  height: 75px;
  width: 310px;
  border: 3px solid #999;
  flex-direction: row;
  float: left;
}

.pieceButton {
  width: 24.35%;
  height: 99%;
  border: 1px solid #999;
  flex-direction: row;
  float: left;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
