body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}



.status {
  margin-bottom: 10px;
}




.coordinate {
  background: #fff;
  background-color: transparent;
  border: 0px;
  /* font-size: 24px; */
  /* font-weight: bold; */
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.vertical {
  height: 48px;
  margin-top: 0px;
}

.horizontal {
  width: 52px;
  margin-left: 0px;
}

.green {
  background: #9bf442;
}

.orange {
  background: #f4bc42;
}

.red {
  background: #ef0909;
}

.blue {
  background: #639af2;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.queen_query {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  height: 75px;
  width: 310px;
  border: 3px solid #999;
  flex-direction: row;
  float: left;
}

.pieceButton {
  width: 24.35%;
  height: 99%;
  border: 1px solid #999;
  flex-direction: row;
  float: left;
}

.game-info {
  margin-left: 20px;
}

.preload {
  display: none;
}
